// app global css in Sass form

body
  font-family: 'Roboto Slab', serif

.btn-favorite
  animation: beat 0.5s

@keyframes beat
  100%
    -webkit-transform: scale(1.6)
    transform: scale(1.6)

.bg-dotted
  background: linear-gradient(90deg,#f7fafc 18px,transparent 1%) 50%,linear-gradient(#f7fafc 18px,transparent 1%) 50%,$accent
  background-size: 20px 20px
  position: relative

.bg-grad-1
  background-color: rgb(2, 0, 36)
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%)

.bg-grad-2
  background-color: #0093E9
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%)

.bg-grad-3
  background-color: #8EC5FC
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%)

.bg-grad-4
  background-color: #D9AFD9
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%)

.bg-grad-5
  background-color: #FFDEE9
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%)

.bg-grad-6
  background-color: #FBDA61
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%)

.bg-grad-7
  background-color: #74EBD5
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%)

.bg-grad-8
  background-color: #74EBD5
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%)

.normal
  background-color: #a9a878
  color: #ffffff

.fire
  background-color: #f07f2f
  color: #000000

.fighting
  background-color: #c03028
  color: #ffffff

.water
  background-color: #6890f0
  color: #ffffff

.flying
  background-color: #a890f0
  color: #ffffff

.grass
  background-color: #78c84f
  color: #ffffff

.poison
  background-color: #a040a1
  color: #ffffff

.electric
  background-color: #f8d030
  color: #000000

.ground
  background-color: #98d8d8
  color: #000000

.psychic
  background-color: #f75888
  color: #ffffff

.rock
  background-color: #b7a038
  color: #ffffff

.ice
  background-color: #98d8d8
  color: #ffffff

.bug
  background-color: #a8b821
  color: #ffffff

.dragon
  background-color: #7037f9
  color: #ffffff

.ghost
  background-color: #705798
  color: #ffffff

.dark
  background-color: #6f5848
  color: #ffffff

.steel
  background-color: #b8b8d0
  color: #ffffff

.fairy
  background-color: #7037f9
  color: #ffffff
