// app global css in Sass form

.normal
  background-color: #a9a878
  text-color: #ffffff

.fire
  background-color: #f07f2f
  text-color: #000000

.fighting
  background-color: #c03028
  text-color: #ffffff

.water
  background-color: #6890f0
  text-color: #ffffff

.flying
  background-color: #a890f0
  text-color: #ffffff

.grass
  background-color: #78c84f
  text-color: #ffffff

.poison
  background-color: #a040a1
  text-color: #ffffff

.electric
  background-color: #f8d030
  text-color: #ffffff

.ground
  background-color: #98d8d8
  text-color: #ffffff

.psychic
  background-color: #f75888
  text-color: #ffffff

.rock
  background-color: #b7a038
  text-color: #ffffff

.ice
  background-color: #98d8d8
  text-color: #ffffff

.bug
  background-color: #a8b821
  text-color: #ffffff

.dragon
  background-color: #7037f9
  text-color: #ffffff

.ghost
  background-color: #705798
  text-color: #ffffff

.dark
  background-color: #6f5848
  text-color: #ffffff

.steel
  background-color: #b8b8d0
  text-color: #ffffff

.fairy
  background-color: #7037f9
  text-color: #ffffff
